body, ul.navigation, ul.navigation li, ul.navigation ul, a, div {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
    background-size: cover;
}

body {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}


/*題庫表格部分*/

.tablediv {
    display: flex;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
}
.qusselect {
    margin: auto;
        height: 100%;
}

tbody {
    height: 300px;
    overflow: auto;
    display: block;
}

.thead {
    background-color: #eee;
    width: 150px;
    display:table-header-group;

}

.trnormal {
    width: 150px;
    border: 1px solid #000;
    background-color: white;
}
.trnormal:hover {
    cursor: pointer;
}
td {
    width: 200px;
    border: 1px solid #555;
    word-break:keep-all;
}

.tdsmall {
    width: 80px;
}

.tdanswer {
    width: 97px;
}

.trclick {
    background-color: yellow;
}

/*題庫編輯區部分*/

.editdiv {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 1%;
}
.editdiv span ,.difficulty span{
    position: relative;
    margin: auto;
    width: 20%;
    left: 0.1%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #cdF;
    font-weight: bold;
    border-radius: 3px;
}
.text {
    width: 60%;
    height: 80px;
    resize: none;
    margin: auto;
}


/*按鈕選項部分*/

.seconddiv {
    display: flex;
    position: relative;
    left: 15%;
    width: 70%;
}

.btn {
    position: relative;
    width: 10%;
    height: 50px;
    font-size: 1em;
    margin: auto 1% 1% 1%;
    font-weight: bold;
}
.difficulty {
    width: 40%;
    height: 80%;
}

.difficulty select{
    position: relative;
    width: 25%;
    height: 80%;
    float: left;
}
.difficulty span{
    position: relative;
    width: 15%;
    float: left;
    margin-left: 3%;
}

#deletebtn {
    color: red;

}
