.red {
    background-color: #FB5A40;
    right: 10px;
    top: 50%;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.black{
    background-color: #707070;
    right: 10px;
    top: 50%;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}


.bgpic{
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;

  background    : url("../assets/macpro.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.logout{
    position: absolute;
    right: 25px;
}

.main{
    margin-top: 20%;
    margin-left: 20%;
}

#logoutbtn{
    margin-top:35%;
}