
/*主要區塊*/



.slide{
    width: 980px;
    top:10%;
}

.exam_title {
    height: 12%;
    top: 8%;
}
.question {
    background-color: #CCC;
    height: 27%;
    top: 20%;
    float: left;
}

.options_list {
    height: 35%;
    float: left;
    top: 47%;
}



.footer {
    position: absolute;
    background-color: #EEE;
    width: 100%;
    height: 18%;
    clear: left;
    top: 82%;
    text-align: center;
}
/* 考試名稱、答案 */

.examleft {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 25%;
}
.testname {
    margin-top: 1%;
    width: 80%;
    height: 40%;
    background-color: #fff;
    float: right;
    font-size: 1.5em;
}
.testnumber {
    text-align: right;
    margin-top: 1%;
    width: 80%;
    height: 40%;
    background-color: #CCC;
    float: right;
    font-size: 1.5em;
}
.qusanswer {
    background-color: #fff;
    float: right;
    width: 3.5%;
    height: 50%;
    margin: auto 25% auto 5%;
    text-align: center;
    font-size: 2em;
    border-radius: 8px;
}
/* 題目內容 */

.quscontent {
    margin: auto;
    background-color: #111;
    color: #fff;
    height: 70%;
    width: 65%;
    text-align: center;
    padding: 0.5%;
    border-radius: 10px;
}
/* 選項 */

.answer {
    position: relative;
    background-color: white;
    width: 65%;
    height: 17%;
    border-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    padding: 1px;
    border-radius: 10px;
}
.answer:hover {
    background-color: #CCC;
    cursor: pointer;
}
.answer:active {
    background-color: #999;
}
.answerclick {
    background-color: #AAA;
}
.choice {
    position: relative;
    background-color: #888;
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
}
.choiceimg {
    position: relative;
    float: left;
    height: 100%;
    width: 5%;
}
.choiceimgon {
    background-color: yellow;
}
/* 快速換題 */

.ten {
    position: relative;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    top: 5%;
}
.number {
    z-index: 500;
    position: relative;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 6.5%;
    height: 23%;
    background-color: #888;
    color: white;
    float: left;
    border: 1px solid;
    border-radius: 5px;
}
.number:hover {
    cursor: pointer;
    background-color: #555;
}
.number:active {
    background-color: #AAA;
}
.numberclick {
    background-color: #333;
}
.ansslecet {
    font-weight: bold;
    color: black;
}
/* 前後題移動 */

.arrow {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
}
.left {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    opacity: 0.5;
    float: left;
    left: 2%;
}
.right {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    opacity: 0.5;
    float: right;
    right: 2%;
}
.left:hover, .right:hover {
    opacity: 0.7;
    cursor: pointer;
}
.left:active, .right:active {
    opacity: 1;
}
/* 通知、交卷 */

.notification {
    position: fixed;
    top: 45%;
    left: 35%;
    width: 30%;
    height: 10%;
    background-color: #777700;
    z-index: 600;
    display: none;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border-radius: 100px;
}
.handin {
    position: fixed;
    top: 9%;
    right: 5%;
    width: 10%;
    height: 10%;
    border-radius: 15px;
    font-size: 2em;
    font-family: "Microsoft JhengHei"
}
.opacity {
    opacity: 0.2;
}
.handlog {
    position: fixed;
    display: none;
    z-index: 600;
    width: 20%;
    height: 30%;
    top: 30%;
    left: 40%;
    background-color: #BBCC00;
    text-align: center;
    border-radius: 10px;
}
.handtext {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 30%;
    width: 80%;
    background-color: #AAAA55;
    font-size: 2em;
}
.handyes {
    position: absolute;
    top: 45%;
    left: 10%;
    height: 30%;
    width: 25%;
    background-color: #77AA00;
    margin-left: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
}
.handno {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 30%;
    width: 25%;
    background-color: #77AA00;
    margin-left: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
}
