@charset "utf-8";//UTF-8編碼必須，為了可以打中文!
@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

// color
$green: #87d3b7;
$green2:#0f9d58;

$grey:#d6d1a3;
$greenDark:#32ab86;
$greenMid:#75bd82;
$greenLight:#b3c785;
$greyLight:#d6ce85;


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


html, body {
  min-height      : 100%;
  height          :100%;
  font-family     : "微軟正黑體", "Microsoft JhengHei";
  background-color: $grey;
}

.header{
  background-color: $greyLight;
  height          : 10%;
  top             : 0px;
}

.sheet{
  margin       : 0 auto;
  width        : 980px;
  margin-top: 30px;
  background-color: white;
  box-shadow   : 6px 6px 11px 0px rgba(0,0,0,0.67);
  border-radius: 5%;
  // text-align: center;
  font-size: 20px;
  
  .exam_title{
    font-size: 40px;
    margin: 20px;
    text-align: center;
  }

  .handin{
    float:right;
  }
}



$size: 25px;
$thickness: 2px;
$angle: 40deg;
$angleHover: 30deg;
$angleActive: 25deg;

@mixin arrowTransform( $angle, $x: 0, $y: 0 ) {
  i:first-child {
    transform: translate( $x, $y ) rotate( $angle );
  }

  i:last-child {
    transform: translate( $x, -$y ) rotate( -$angle );
  }
}


#pagination_arrows{
  text-align: right;
  right:0;
  span{
    color: transparent;
  }
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.paginate {
  width: $size !important;
  height: $size !important;  
  cursor: pointer;
  transform: translate3d(0,0,0); // fixes flicker in webkit

  i {
    position: absolute;
    width: $size ;
    height: $thickness ; 
    border-radius: $thickness / 2;
    background: $greenDark;
    transition: all 0.15s ease;
  }

  &.left {

    i {
      transform-origin: 0% 50%
    }

    @include arrowTransform( $angle, 0, -1px );

    &:hover {
      @include arrowTransform( $angleHover, 0, -1px );
    }

    &:active {
      @include arrowTransform( $angleActive, 1px, -1px );
    }

    &[data-state=disabled] {
      @include arrowTransform( 0deg, -5px, 0 );

      &:hover {
        @include arrowTransform( 0deg, -5px, 0 );
      }
    }
  }

  &.right {

    i {
      transform-origin: 100% 50%
    }

    @include arrowTransform( $angle, 0, 1px );

    &:hover {
      @include arrowTransform( $angleHover, 0, 1px );
    }

    &:active {
      @include arrowTransform( $angleActive, 1px, 1px );
    }

    &[data-state=disabled] {
      @include arrowTransform( 0deg, 5px, 0 );

      &:hover {
        @include arrowTransform( 0deg, 5px, 0 );
      }
    }
  }

  &[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
  }
}



.counter {
  line-height: 100px;
  color: $green;
  display: inline;
  font-size: $size;
  font-family: Helvetica, sans-serif;
}

/*---Page Switcher
--------------------------------------*/
 #pre, #next {
    position: fixed;
    top: 45%;
    text-align: center;
    height: 90px;
    width: 90px;
    background: #000;
    opacity: 0.75;
    color: #fff;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    cursor: pointer;
}
#pre {
    // display: none;
    left: -70px;
    border-radius: 0px 100% 100% 0px;
}
#next {
    right: -70px;
    border-radius: 100% 0px 0px 100%;
}
#pre a, #next a {
    display: block;
    max-width: 100%;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 39%;
    cursor: pointer;
}
#pre a {
    left: 17%;
}
#next a {
    right: 17%;
}
#pre:hover {
    transition: 0.2s ease-in;
    left: -50px;
}
#next:hover {
    transition: 0.2s ease-in;
    right: -50px;
}















































  .testnumber{
    margin: 20px;
  }

  #bigdiv{
    position: relative;

    .question_content{
      position: absolute;
      left:0px;
      width: 500px;
      height: 100%;
      display: -webkit-flex;
      display: flex;
    }
    .qussmall{
      margin: auto;
    }

    .options_list{
      margin-left: 500px;
      text-align: left;

      .answer{
        margin: 20px;
        

        label {
            display: inline-block; //為啥一定要這個哩...
            width: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid #999;
            border-radius: 50%;
            box-shadow: 0 0 0 45px #FFF inset;
            transition: 200ms all;
            cursor: pointer;
        }

        input:checked + label {
            box-shadow: 0 0 0 -1px #FFF inset;
            color: #FFF;
            background: #7EB634;
            border-color: #7EB634;
        }
        input {
            display: none;
        }
      }
  }
}

.line{
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: $grey;
}









/*===========================================================================================fab=*/


.fab {	
	position        : absolute;
	overflow        : hidden;
	transition      : box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	z-index         : 10;
	cursor          :pointer;
	color           : $greyLight;
	
	&.green{
		background-color: #0f9d58;
		right           : 10px;
		top             : 50%;
		margin-top      : -28px;
		width           : 56px;
		height          : 56px;
		border-radius   : 50%;
	}

	&:active{
		box-shadow      : 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}

	> core-icon {
		margin: 16px;
	}

	> core-icon::shadow path {
		fill: #fff;
	}

}



/* ==========================================================Icon Button=*/
.icon-button {
	position: absolute;
	width   : 56px;
	height  : 56px;

	core-icon {
		margin: 13px;
		transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		}

	&:hover core-icon{
		-webkit-transform: scale(1.2);
  		transform: scale(1.2);
	}

	paper-ripple{
		overflow: hidden;
		color: #646464;
	}

}


// ===================================================================pagination



.pagination {
  display: block;
  width:980px;
  margin: 0 auto;
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    font-family: Helvetica, Helvetica Neue,sans-serif;
    color: #444;
    a{
      display: block;
      width: 40px;
      text-align: center;
      line-height: 40px;
      position: relative;
      margin-right: 1px;
      text-decoration: none;
    }
  }
}











.pagination li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px rgba(0,0,0,.75);
  border-radius: 100px;

  -webkit-transform: scale(0);
  -webkit-transition: all 0.25s;
}

.pagination li a:hover {
  color: transparent; //transparent代表 "透明"
}

.pagination li a:hover:before {
  -webkit-transform: scale(0.3);
  box-shadow: inset 0 0 0 4px rgba(0,0,0,.75); //inset為內陰影
}

.pagination li.active a:before {
  -webkit-transform: scale(1);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.75);
}

.pagination li.active a:hover {
  color: rgb(0,0,0);
}

