/* line 11, ../sass/board.scss */
.editdiv {
  width: 980px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
}
/* line 17, ../sass/board.scss */
.editdiv textarea {
  margin-bottom: 10px;
  padding: 25px 25px 25px 90px;
  text-align: center;
  font-size: 1.5em;
  height: 100px;
  width: 100%;
  border-radius: 14px;
  background-color: white;
  border: 2px solid #e9322d;
  resize: none;
}
/* line 29, ../sass/board.scss */
.editdiv label {
  border-radius: 14px 0px 14px 0px;
  padding: 14px 10px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  background: #e9322d;
  color: white;
}
/* line 40, ../sass/board.scss */
.editdiv .question {
  flex: 1;
  -webkit-flex: 1;
  margin-right: 5px;
}
/* line 44, ../sass/board.scss */
.editdiv .question .Qcontent {
  width: 100%;
  position: relative;
}
/* line 48, ../sass/board.scss */
.editdiv .question .Qcontent textarea {
  height: 212px;
  max-height: 212px;
}
/* line 54, ../sass/board.scss */
.editdiv .question .seconddiv .dropdown {
  margin-bottom: 10px;
}
/* line 58, ../sass/board.scss */
.editdiv .question .seconddiv .btns .btn {
  float: left;
  margin: 0 20px 0 20px;
}
/* line 62, ../sass/board.scss */
.editdiv .question .seconddiv .btns .btn .icon-button {
  margin: 10px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  position: static;
  display: -webkit-flex;
  display: flex;
  background: white;
  border-radius: 60px;
}
/* line 73, ../sass/board.scss */
.editdiv .question .seconddiv .btns .btn .icon-button core-icon {
  margin: auto;
}
/* line 78, ../sass/board.scss */
.editdiv .question .seconddiv .btns .btn .btn_name {
  text-align: center;
  color: #fff;
}
/* line 87, ../sass/board.scss */
.editdiv .option_list {
  flex: 1;
  -webkit-flex: 1;
  margin-left: 5px;
}
/* line 91, ../sass/board.scss */
.editdiv .option_list .option {
  position: relative;
}

/* Variables */
/* Dropdown style */
/* line 109, ../sass/board.scss */
.dropdown dt a {
  background-color: white;
  display: block;
  border: 1px solid grey;
  border-radius: 15px;
  text-decoration: none;
}
/* line 116, ../sass/board.scss */
.dropdown dt a:hover, .dropdown dt a:active {
  border-color: white;
}
/* line 120, ../sass/board.scss */
.dropdown dt span {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  border-right: 1em solid transparent;
  cursor: pointer;
}
/* line 128, ../sass/board.scss */
.dropdown dd {
  position: relative;
}
/* line 130, ../sass/board.scss */
.dropdown dd ul {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: -2.5em;
  width: 100%;
  list-style: none;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
}
/* line 141, ../sass/board.scss */
.dropdown dd ul li:first-child a:hover {
  border-radius: 15px 15px 0 0;
}
/* line 144, ../sass/board.scss */
.dropdown dd ul li:last-child a:hover {
  border-radius: 0 0 15px 15px;
}
/* line 148, ../sass/board.scss */
.dropdown dd li a {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  text-decoration: none;
}
/* line 153, ../sass/board.scss */
.dropdown dd li a:hover {
  background-color: #32ab86;
  color: #fff;
  cursor: pointer;
}

/* line 168, ../sass/board.scss */
.table {
  width: 980px;
  max-width: 980px;
  background-color: #ffffff;
}
/* line 172, ../sass/board.scss */
.table thead {
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* line 178, ../sass/board.scss */
.table tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 182, ../sass/board.scss */
.table tr th, .table tr td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 196, ../sass/board.scss */
.table-bordered {
  border: 0;
}

/* line 199, ../sass/board.scss */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* line 208, ../sass/board.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* line 212, ../sass/board.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

/* line 216, ../sass/board.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  /* line 221, ../sass/board.scss */
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }

  /* line 225, ../sass/board.scss */
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }

  /* line 229, ../sass/board.scss */
  .table-responsive-vertical > .table > tbody {
    display: block;
  }

  /* line 232, ../sass/board.scss */
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }

  /* line 238, ../sass/board.scss */
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #ffffff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }

  /* line 244, ../sass/board.scss */
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }

  /* line 251, ../sass/board.scss */
  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 256, ../sass/board.scss */
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }

  /* line 262, ../sass/board.scss */
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }

  /* line 265, ../sass/board.scss */
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  /* line 269, ../sass/board.scss */
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  /* line 272, ../sass/board.scss */
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #ffffff;
  }

  /* line 276, ../sass/board.scss */
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }

  /* line 279, ../sass/board.scss */
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #ffffff;
  }

  /* line 283, ../sass/board.scss */
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
/* line 287, ../sass/board.scss */
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #fde0dc;
}

/* line 291, ../sass/board.scss */
.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
  background-color: #f9bdbb;
}
