@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
/* line 5, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/test.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/test.scss */
html, body {
  min-height: 100%;
  height: 100%;
  font-family: "微軟正黑體", "Microsoft JhengHei";
  background-color: #d6d1a3;
}

/* line 31, ../sass/test.scss */
.header {
  background-color: #d6ce85;
  height: 10%;
  top: 0px;
}

/* line 37, ../sass/test.scss */
.sheet {
  margin: 0 auto;
  width: 980px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.67);
  border-radius: 5%;
  text-align: center;
  font-size: 20px;
}
/* line 47, ../sass/test.scss */
.sheet .exam_title {
  font-size: 40px;
  margin: 20px;
}
/* line 52, ../sass/test.scss */
.sheet .handin {
  float: right;
}
/* line 56, ../sass/test.scss */
.sheet .testnumber {
  margin: 20px;
}
/* line 60, ../sass/test.scss */
.sheet #bigdiv {
  position: relative;
}
/* line 63, ../sass/test.scss */
.sheet #bigdiv .question_content {
  position: absolute;
  left: 0px;
  width: 500px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
}
/* line 71, ../sass/test.scss */
.sheet #bigdiv .qussmall {
  margin: auto;
}
/* line 75, ../sass/test.scss */
.sheet #bigdiv .options_list {
  margin-left: 500px;
  text-align: left;
}
/* line 79, ../sass/test.scss */
.sheet #bigdiv .options_list .answer {
  margin: 20px;
}
/* line 83, ../sass/test.scss */
.sheet #bigdiv .options_list .answer label {
  display: inline-block;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 50%;
  box-shadow: 0 0 0 45px #FFF inset;
  transition: 200ms all;
  cursor: pointer;
}
/* line 95, ../sass/test.scss */
.sheet #bigdiv .options_list .answer input:checked + label {
  box-shadow: 0 0 0 -1px #FFF inset;
  color: #FFF;
  background: #7EB634;
  border-color: #7EB634;
}
/* line 101, ../sass/test.scss */
.sheet #bigdiv .options_list .answer input {
  display: none;
}

/* line 114, ../sass/test.scss */
.line {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: #d6d1a3;
}

/*===========================================================================================fab=*/
/* line 132, ../sass/test.scss */
.fab {
  position: absolute;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
  cursor: pointer;
  color: #d6ce85;
}
/* line 142, ../sass/test.scss */
.fab.green {
  background-color: #0f9d58;
  right: 10px;
  top: 50%;
  margin-top: -28px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
/* line 152, ../sass/test.scss */
.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
/* line 157, ../sass/test.scss */
.fab > core-icon {
  margin: 16px;
}
/* line 161, ../sass/test.scss */
.fab > core-icon::shadow path {
  fill: #fff;
}

/* ==========================================================Icon Button=*/
/* line 170, ../sass/test.scss */
.icon-button {
  position: absolute;
  width: 56px;
  height: 56px;
}
/* line 175, ../sass/test.scss */
.icon-button core-icon {
  margin: 13px;
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 181, ../sass/test.scss */
.icon-button:hover core-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 186, ../sass/test.scss */
.icon-button paper-ripple {
  overflow: hidden;
  color: #646464;
}

/* line 196, ../sass/test.scss */
.pagination {
  display: block;
}
/* line 198, ../sass/test.scss */
.pagination li {
  float: left;
  list-style: none;
  font-family: Helvetica, Helvetica Neue,sans-serif;
  color: #444;
}
/* line 203, ../sass/test.scss */
.pagination li a {
  display: block;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  margin-right: 1px;
  text-decoration: none;
}

/* line 217, ../sass/test.scss */
.pagination li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(0);
  border-radius: 100px;
  -webkit-transition: all .25s;
}

/* line 230, ../sass/test.scss */
.pagination li a:hover {
  color: transparent;
}

/* line 234, ../sass/test.scss */
.pagination li a:hover:before {
  -webkit-transform: scale(0.3);
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.75);
}

/* line 239, ../sass/test.scss */
.pagination li.active a:before {
  -webkit-transform: scale(1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
}

/* line 244, ../sass/test.scss */
.pagination li.active a:hover {
  color: black;
}
