@import url(http://fonts.googleapis.com/css?family=Lato);
html, body {
    padding: 0;
    margin: 0;
    background: url("../assets/classroom.jpg") center no-repeat;
    background-size: cover;
}
html {
    font: 1em"Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
body {
    font-size: 1.3em;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 480px;
}
.biggest-container {
    display: flex;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25%;
    margin-left: -35%;
}
.container {
    width: 25%;
    height: 40%;
    margin: auto;
    background-color: #0a6;
    opacity: 0.9;
    border-radius: 20px;
    min-width: 100px;
    min-height: 160px;
}
.form {
    width: 300px;
    height: 600px;
    margin: auto;
}
.container > span {
    font-size: 1em;
    font-weight: bold;
    font-family: SimSun;
    margin: auto;
    position: relative;
    left: 5%;
}
.modal {
    display: none;
}
input {
    position: absolute;
    left: 39%;
}
.modal-body {
    color: white;
    background-color: #E0000E;
}
select {
    position: absolute;
    left: 39%;
    width: 100px;
    height: 28px;
}
#noaccount {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.loginbtn {
    position: relative;
    float: left;
    width: 20%;
    left: 6%;
    background-color: #9c9;
    cursor: pointer;
}
